<!DOCTYPE html>
<html>

<head>
    <title>Team Builder App </title>
	<meta charset="UTF-8">
	<meta name = "viewport" content - "width=device-width, initial-scale-1">
    <link rel="stylesheet" href="/styles.css">
	
	
<ul class = "hmenu">
  <li class = "hmenu"><a href = "/searchpage2.html">Search Page</a></li>
  <li class = "hmenu"><a href = "/addResume.html">Input Page</a></li>
 </ul>

</head> 
   
  
<body onload="populateFormElements()">
<form method="POST" action="/resume">
<img src = "/pcilogo.png" alt = "PCI Logo">

<!-- Creates table in the same format as one-page PCI resumes -->
<table>
<tr bgcolor = "#cc0000">
	<th colspan = "5", style = "color:white;">NAME: <input type="text"  value= "<%= info.user_name %>" readonly/></th>
</tr>

<div class ="name section">
<tr>
<!-- Add Work Role section -->
	<th style = "color:black;">Work Role</th>
	<th> <input type="text"  style = "border:none;" value= "<%= info.work_role %>" readonly/></th>
	

<!-- Add Security Clearances section -->

  <th rowspan = "2">Security Clearances (Highest Level)</th>
  <td rowspan = "2", colspan = "2">
    <table id="clearanceTable" style="height:50px; border:none;">
      <tr>
	  <th><input type="text"  style = "border:none;" value= "<%= info.clearance %>" readonly/></th></tr>
       <tr><th><input type="text"  style = "border:none;" value= "<%= info.clearance_1_month %>" readonly/></th></tr>
       <tr><th><input type="text"  style = "border:none;" value= "<%= info.clearance_1_year %>" readonly/></th>
      </tr>
    </table>

 
</tr>
</div>



<!-- Add Company section  -->
<tr>
	<th>Company</th>
	<th><input type="text"  style = "border:none; width:200px;" value= "<%= info.company %>" readonly/></th>
</tr>

<!-- Add Degree section with drop down menu (Y/N) -->
<tr>
	<th>Degree</th>
	<th><input type="text"  style = "border:none;" value= "<%= info.degree %>" readonly/></th>
	<th rowspan="1">Advanced Degree</th>
	<th rowspan="1", colspan = "2"><input type="text"  style = "border:none;" value= "<%= info.advanced_degree %>" readonly/></th>
</tr>

<!-- Add Experience section -->
<tr>
	<th>Experience</th>
	<th><input type="text"  style = "border:none;" value= "<%= info.experience %>" readonly/></th>

<!-- Add Technical Skills section  -->
	<th rowspan ="1">Technical Skills</th>
	<th rowspan = "1", colspan = "2"><input type="text"  style = "border:none;" value= "<%= info.technical %>" readonly/></th>
</tr>
</div>


<tr bgcolor = "#19324d">
	<th colspan = "5", style = "color:white;">EDUCATION, CERTIFICATION, AND TRAINING </th>
</tr>

<div class = "Ed, cert, train">

<!-- Add Education section -->
<tr>
	<th>Education</th>
	<th><input type="text" style = "border:none;" value= "<%= info.education_degree%>" readonly/></th>
	
	<th><input type="text"  style = "border:none;" value= "<%= info.education_advanced_degree %>" readonly/></th>
	
</tr>
<!-- Add Certification section -->
<tr>
  <th>Certification</th>
  <td colspan = "3">

</td>
</tr>
  
  

<!-- Add Training section -->
<tr>
  <th>Training</th>
  <td colspan = "3">
    <table id="trainingTable" border="1" style = "width: 600px">
      <tr>
	    <td>
          <input type="text" style = "border:none;" value= "<%= info.training %>" readonly/>
	    </td>
      </tr>
    </table>
  </td>
</tr>
</div>

<tr bgcolor = "#19324d">	
	<th colspan = "5", style = "color:white;">EXECUTIVE SUMMARY </th>
</tr>

<div class ="summary">
<!-- Add text area for user to input executive summary -->
<tr>
	<th colspan = "5"> <input type="textarea"  style = "border:none;" style="width: 600px; height:100px; position:relative;"  rows = "4" cols = "100" value= "<%= info.executive_summary %>" readonly/></th>
</tr>

</div>

<tr bgcolor = "#19324d">
	<th colspan = "5", style = "color:white;">WORK HISTORY</th>
</tr>

<div class = "work history">

<!-- Add Work History section -->
<tr>
  <th>Company/Role:</th>
  <td colspan = "3">
    <table id="workTable" style="width: 600px">
      <tr><input type="text" style = "border:none;" value= "<%= info.work_1_description %>" readonly/></tr>
      </tr>
    </table>
  </td>
</tr>
</div>

<div class = "tools experience">
<!-- Add tools experience section -->
<tr bgcolor = "#19324d">
	<th colspan = "5", style = "color:white;">TOOLS EXPERIENCE</th>
</tr>

<tr>
	<th colspan = "5"><input type="textarea" style="width:400px; height:70px; border:none;"  value= "<%= info.tools_experience %>" readonly/></th>
	</div>
	
<div class = "keywords">
<!-- Add text area for user to input keywords-->
<tr bgcolor = "#19324d">
	<th colspan = "5", style = "color:white;">KEYWORDS</th>
</tr>
<tr>
	<th colspan = "5"><input type="textarea"  style="width:200px; height:50px; border:none;" value= "<%= info.keywords %>" readonly/></th>
</tr>
</div>

</table>


</form>

<button type="button" >Back to search results</button> 




  
</body>

</html>
