<!DOCTYPE html>
<html>

<head>
    <title>Team Builder App </title>
	<meta charset="UTF-8">
	<meta name = "viewport" content = "width=device-width, initial-scale-1">
    
    <!-- All CSS Plugins -->
    <link rel="stylesheet" type="text/css" href="/plugin.css">
    
    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/styles.css">
	<link rel="stylesheet" href="/stylesheet.css" type="text/css" charset="utf-8" />
    
    <!-- Google Web Fonts  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">
    
 <style>


h1{
	color: white;
    font-weight: 600;
	font-family: '2-questa_grande_regular_31', serif;
	float: center;
	font-size: 60px;
	top: 200px;
	left: 100px;
	text-shadow: #5c5c5c .01em .01em .01em;
	line-height: 100px;
	letter-spacing: 2.5px;
}

body { background-image: url("/call-to-action.png");
}

table {background-color: white;
font-family: '2-questa_grande_regular_31', serif;
}

 #form {
 	width: 100%;
 	height: 400px;
 	font-color: #0e1629;
	background-color: #f7f7f7;
	margin-top: 2px solid #0e1629;
	margin-bottom: 2px solid black;

 }
 #formId {
 	padding-top: 12rem;
 	text-align: center;
 	font-family: '2-questa_grande_regular_31', serif;
 	width:300;
 	height: 200px;
	color: #0e1629;
	font-size: 20px;
	
 }
 
	
	#formId p{
	color: #0e1629;
	}
	
	h2{
	font-weight: bold

	}
	#form h2{
	font-size: 45px;
	}
	
.contact p{
	color: white;
	}
 

 
</style>



</head> 
   
  
<body id='bodyTag'>

	<!-- Preloader Start -->
    <div class="preloader">
	  <p>Loading...</p>
     </div>
     <!-- Preloader End -->
 <header id="home">

		<div class="header-top-area">

                <div class="row">
                    <div class="col-sm-3">
                        	<div class="logo">
                            <a href="http://www.pci-sm.com/"><img src = "/pcilogo.png" alt = "pcilogo" height = "85%" width = "85%"></a>
                        </div>
                    </div>
					
                        <div class="navigation-menu">
                            <div class="navbar">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a class="smoth-scroll" href="/searchpage2.html">Search Resumes<div class="ripple-wrapper"></div></a>
                                        </li>
                                        <li><a class="smoth-scroll" href="/addresume.html">Input Resumes</a>
                                        </li>
                                       
                                    </ul>
                                </div>
                            </div>
                    </div>
				</div>
			</div>

     </header>
	      <!-- Experience Start -->
    <section class="section-space-padding2">

				<div class="section-title">
                        <h1>Resume Return Page</h1>  
                    </div>
    </section>
	
<section class = "body-section">
<form id = "resume" method="POST" action="/resume">

<!-- Creates table in the same format as one-page PCI resumes -->
<table align = "center">
<tr bgcolor = "#cc0000">
	<th colspan = "5", style = "color:white;">NAME: <%= info.user_name %></th>
</tr>

<div class ="name section">
<tr>
<!-- Add Work Role section -->
	<th style = "color:black;">Work Role</th>
	<td><%= info.work_role %></td>
	


<!-- Add Security Clearances section -->

  <th rowspan = "2">Security Clearances (Highest Level)</th>
  <td rowspan = "2", colspan = "2"><%= info.clearance %>: <%= info.clearance_1_month %> , <%= info.clearance_1_year %>
</tr>
</div>



<!-- Add Company section  -->
<tr>
	<th>Company</th>
	<td><%= info.company %></td>
</tr>

<!-- Add Degree section  -->
<tr>
	<th>Degree</th>
	<td><%= info.degree %></td>
	<th rowspan="1">Advanced Degree</th>
	<td rowspan="1", colspan = "2"><%= info.advanced_degree %></td>
</tr>

<!-- Add Experience section -->
<tr>
	<th>Experience</th>
	<td><%= info.experience %></td>

<!-- Add Technical Skills section  -->
	<th rowspan ="1">Technical Skills</th>
	<td rowspan = "1", colspan = "2"><%= info.technical %></td>
</tr>



<tr bgcolor = "#19324d">
	<th colspan = "5", style = "color:white;">EDUCATION, CERTIFICATION, AND TRAINING </th>
</tr>

<div class = "Ed, cert, train">


<!-- Add Education section -->
<tr>
	<th>Education</th>
	<td><%= info.education_degree%> in 
	<%= info.degree_field%></td>
	
	<td colspan = "2"><%= info.education_advanced_degree %> in
	<%= info.advanced_degree_field%></td>
	
</tr>
<!-- Add Certification section -->
<tr>
  <th>Certification</th>
 
  <td colspan = "3"><%= info.certifications[0][0] %> - <%= info.certifications[0][1] %>, <%= info.certifications[0][2] %>
  <% for(var i = 1; i < info.certifications.length; i++) { %>
  	<br><%= info.certifications[i][0] %> - <%= info.certifications[i][1] %>, <%= info.certifications[i][2] %>
  <% } %>
  </td>
</tr>

<!-- Add Training section -->
<tr>
  <th>Training</th>
 <td colspan = "3"><%= info.trainings[0][0] %> - <%= info.trainings[0][1] %>, <%= info.trainings[0][2] %>
 <% for(var i = 1; i < info.trainings.length; i++) { %>
  	<br><%= info.trainings[i][0] %> - <%= info.trainings[i][1] %>, <%= info.trainings[i][2] %>
  <% } %>

</td>
</tr>
</div>

<tr bgcolor = "#19324d">	
	<th colspan = "5", style = "color:white;">EXECUTIVE SUMMARY </th>
</tr>

<div class ="summary">
<!-- Add text area for user to input executive summary -->
<tr>
	<td colspan = "5"><%= info.executive_summary %></td>
</tr>

</div>

<tr bgcolor = "#19324d">
	<th colspan = "5", style = "color:white;">WORK HISTORY</th>
</tr>

<div class = "work history">

<!-- Add Work History section -->
<tr>
  <th>Company/Role:</th>
  <td colspan = "3">
    <table id="workTable" style="width: 600px">
      <tr><%= info.role[0][0] %> , <%= info.role[0][1] %> - <%= info.role[0][2] %>
      	<% for(var i = 1; i < info.role.length; i++) { %>
  			<br><%= info.role[i][0] %> - <%= info.role[i][1] %>, <%= info.role[i][2] %>
  		<% } %>
       </tr>
    </table>
  </td>
</tr>
</div>

<div class = "tools experience">
<!-- Add tools experience section -->
<tr bgcolor = "#19324d">
	<th colspan = "5", style = "color:white;">TOOLS EXPERIENCE</th>
</tr>

<tr>
	<td colspan = "5"><%= info.tools_experience %></td>
	</div>
	
<div class = "keywords">
<!-- Add text area for user to input keywords-->
<tr bgcolor = "#19324d">
	<th colspan = "5", style = "color:white;">KEYWORDS</th>
</tr>
<tr>
	<td colspan = "5"><%= info.keywords %></td>
</tr>
</div>

</table>
<br>
<div style="text-align:center">
<a href="#" onclick = "window.history.back()" class="btn btn-default btn-lg">
         <i class = "icon-arrow-left-circle"></i> Back to Search Results</a>
</div>
<br>
</form>
</section>


<div id="form">

<form id="formId"  onsubmit="return false">

<fieldset>
<h2>Email Resume</h2>
<p>If you wish to send to more than one person, separate email addresses with a comma.</p>
<input id="emails" type="text" placeholder="example@email.com" name="emails" />
<button type="submit" onclick="sendEmail()" class = "btn btn-default">Send Email</button>

</fieldset>
<br></br>

</form>
</div>


    <!-- Footer Start -->
    <footer>
        <section class="call-to-action bg-cover section-space-padding text-center">
       <div class="container">
         <div class="row">
           <div class="col-md-7">
             <h2>Contact</h2>
			 <a class="button button-style button-style-color-2 smoth-scroll" href="http://www.pci-sm.com/">PCI Strategic Management</a>
             </div>
             
            <div class="col-md-4">
             <div class="text-center">
			   <p class = "contact"> Address:
    <br>6811 Benjamin Franklin Dr., Suite 200
    <br>Columbia, MD 21046

	<br> Tel: 410.312.0885

    <br>Fax: 410.312.0888

    <br>Email: info@pci-sm.com


            </div>
            
            </div>    
          </div>
         </div>
       </section>
    </footer>
    <!-- Footer End -->
        
    <!-- Back to Top Start -->
    <a href="#" class="scroll-to-top"><i class="icon-arrow-up-circle"></i></a>
    <!-- Back to Top End -->
    
 </div>   
<script>

var sendEmail = function() {
if(document.getElementById("emails").value) {
var data = <%- JSON.stringify(info) %>
data.emails = document.getElementById("emails").value;
document.getElementById("formId").reset();
$.ajax({
  type: "POST",
  url: "/sendEmail",
  data: data,
  success: function() {
  alert("Email has been sent")},
  error: function(status) {
  //console.log(status.status)
  alert("something went wrong")}
});
}

}

</script>
 
    <!-- All Javascript Plugins  -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/plugin.js"></script>
    
    <!-- Main Javascript File  -->
    <script type="text/javascript" src="/js/scripts.js"></script>
  
</body>

</html>
